* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* <weight>: Use a value from 300 to 900 */
}

.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

h1 {
    position: absolute;
    top: 50px;
    font-style: normal;
}

.container {
    position: relative;
    background: black;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    box-shadow: 0 5px 10px rgba(131, 109, 109, 0.05);
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    pointer-events: none;
    background: white;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    font-style: italic;
    font-weight: 300;
}

.buttons button:active {
    transform: scale(0.99);
}

.operator {
    color: black;
}
